.datetime {
    position: absolute;
    display: block;
    right: 15px;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    border: none;
}
.countLove {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #fff;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}